body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px 0 0 0;
	padding:0;	
	background-repeat:repeat;	
	background-color:#E2E2E2;
	color:#000000;	
}
.main{
	width:900;
	margin:0px auto;	
	text-align:left;
	border:1px solid #807C7C;
	background-color:#FFFFFF;
	color:#000000;
}
form{
	margin:0;
	padding:0;
}
input{
	width:115px;
	height:16px;
	border:1px solid #807C7C;
}
.inp1{
	float:left;
}
.inp2{
	float:left;
	padding:1px 5px 0px 5px;
	height:17px;
	border:1px solid #807C7C;
	margin:1px 0 0 5px;
	background-image:url(/images/s_bg.jpg);
	background-repeat:repeat-x;
}
.right{
	float:left;
	width:780px;
	border-left:1px solid #807C7C;
	margin:10px 0;
	padding:0 10px;
	text-align:justify;
}
#header{
	height:121px;
	width:900;	
}
a {
	color:#58A746;
	background-color:inherit;
}
a:hover{
	text-decoration:none;
}
.top{
	border:1px solid #807C7C;
	margin:5px;
	width:900;
}
h1 {
	padding:5px 0 0 20px;
	margin:0;
	font-size:28px;
	font-weight:normal;
	color:#58A746;
	background-color:inherit;
	font-family:"Trebuchet MS", verdana, arial, sans-serif;
}
h2{
	color:#58A746;
	background-color:inherit;
	font-size:14px;
	margin:0px 0 5px 0;
	padding:0;
}
h3{
	color:#666666;
	background-color:inherit;
	font-size:14px;
	margin:0px 0 5px 0;
	padding:0;
}
.title{
	text-align:left;
	padding:10px 0 0px 15px;
}
.title p{
	margin:5px 0 0 23px;;
	padding:0;
}
.menu{
	position:absolute;
	top:87px;
	width:900px;
	margin:8px 3px 0px 3px;
	height:30px;
}
ul.navbar {
	list-style-type:none; float:left; display:block; width:100%; 
	margin:0;
	padding:0;
	background-image:url(/images/m_bg1.jpg);
	background-repeat:repeat-x;
}
ul.navbar li{
	display:inline;
}
a.nav:link, a.nav:visited{
	display:block;
	float:left;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;	
	color:#FFFFFF;
	background-color:inherit;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}
a.nav1:link, a.nav1:visited{
	display:block;
	float:left;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;
	background-color:#58A746;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}

a.nav:hover {
	display:block;
	float:left;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;
	background-color:#58A746;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}
a.nav:active {
	display:block;
	float:left;
	width:14.5%;
	padding:10px 20px;
	margin:0px; 
	text-decoration:none;
	background-color:#807C7C;
	color:#FFFFFF;
	font-size:12px;
	border-left:1px solid #FFFFFF;
}
#footer{
    width:900;
	position:relative;
}
.footer{
	border:1px solid #807C7C;
	margin:5px 3px 5px 5px;
	padding:7px 5px;
	height:15px;
}
.fix{
	clear:left;
	height:1px;
}
.content{
	position:relative;
	width:900;
	margin:10px 5px 0px 5px;
	border:1px solid #807C7C;
}
ul.l_menu{
	list-style-type:none;
	padding:0;
	margin:5px 0;
	line-height:17px;
}
.cp1{
	float:left;	
}
.cp2{
	float:right;
	padding-right:5px;	
}
.section pre {
    border:1px solid #807C7C;
    background-color:#C0C0C0;
}

